* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-family: 'Inter';
  background: url(/assets/imagem1.jpg)no-repeat top center;
  background-size: cover;
}

nav {

  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(04px);
  background: rgba(0, 0, 30, 0.3);
  border-radius: 1rem;
}

iframe {
  width: 100%;
  border: none;
  text-align: left;
}

h1 {
  text-align: center;
  color: white;
  font-size: 5rem;
}

span {
  background-color: #0f172a;
  color: rgb(56, 180, 218);
}

strong, a {
  background-color: rgb(33, 33, 204);
  padding: 8px;
  color: #0f172a;
  font-weight: bold;
  border-radius: 50px;
  
}

 a:hover {
  color: #39b5db;
  background: none;
  transition:  500ms;
  font-size: 24px;
}

  strong:hover {
  color: rgb(56, 180, 218);
  background: none;
  transition:  500ms;
  font-size: 24px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: auto;
  bottom: 0;
  padding: 2rem 5%;
  position:absolute;
  background-color: #0f172a;
}

footer span {
  color: white;
  background: none;
  font-size: 12px;
}
